.holiday_list
  .container
    %table.search_form.table.table-bordered{border: "0", width: "100%"}
      = form_tag search_result_profiles_path, :method => 'get' do
        %tbody
          .search_form
            %tr
              %td.search_styletd{width: "100%"}
                .holiday_heading{:style => "padding:0 !important;"} Search by Name
            %tr
              %td{valign: "top", width: "100%"}
                %table.producttable1{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                  %tbody
                    %tr.alternate-row
                      %td
                        Employee Name :
                        = text_field_tag :search, params[:search]
                        = submit_tag "Search", :name => nil
    %br
    - if @user_search.present?
      %table.table.table-bordered
        %thead
          .holiday_heading
            Search Result
          %tr.danger.h_col
            %td
              %i Name
              %b.caret{:style => "color:#333"}
            %td
              %i Experience
              %b.caret{:style => "color:#333"}
            %td
              %i Department
              %b.caret{:style => "color:#333"}
            %td
              %i Skills
              %b.caret{:style => "color:#333"}
        - @user_search.each do |us|
          %tbody
            %tr.success
              %td
                %a.thumbnail{:style => "width:10%;"}
                  = image_tag us.image, :class => "search_user_image"
                = us.emp_name
                .employee_search_mail
                  Email :
                  = us.email
              %td
                %span
                  .employee_sarch_exp
                    Ignis Exp :
                    = us.exp_in_iis
                %span
                  .employee_sarch_exp
                    Total Exp :
                    = us.total_exp
              %td
                = us.department
              %td
                = us.primary_skills
    - else
      .no_result
        No result found